$black-color:#000;
$white-color:#fff;
$transparent-color:transparent;
$sky-color:#81b8e3;
$p-color:#1d1e2f;
$darkblack-color:#27283a;
$grey-color:#f1f6f8;
$footerbg-color:#1d1e2a;
$contactbg-color:#20212f;
$placeholder-color:#4a475d;

$family: 'Roboto', sans-serif;
$family-awsm: 'Open Sans', sans-serif;
$large-desktop:1400px;
$desktop:1367px;
$mini-desktop:1170px;
$tablet-landscape:1024px;
$tablet:992px;
$ptablet:767px;
$mobile:479px;